.body{
    background-image: url('C:/Users/91938/Desktop/Axis-bank-JFS/React js/react-router/src/Axisbank background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    
}

